body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

section {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    background-color: #353535;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.2s;
}

a:hover {
    background-color: #74c69d; /* Hover color: Soft Green */
}
